<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/perfil4.css">
    <!-- <link href="../../../Ejecutables/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet"> -->
     <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="containerCategoria min-vh-100 d-flex" id="ocultar">
        <div class="capa m-0 p-4">
            <div class="row m-0 p-0">

              
                <div class="col-2">
                    <div class=" text">
                        <div class="casa">
                            <a href="../home.html">
                                <img src="../../assets/img/perfil/salida.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-8">
                    <div class=" text text-center">
                        <h3 class="m-0 p-3 ">Editar Perfil </h3>
                    </div>
                </div>

                


                <div class="col-12 centrar">
                    <div class=" text campo m-1">
                        <div class="casa p-0 m-1 ">
                            <img id="imagen-principal" src="../../assets/img/perfil/lindo personaje de dibujos animados de la mascota del chef león con cuchara y tenedor.jpg" alt="Imagen Principal">
                            
                        </div>
                    </div>
                </div>


                    <div class="col-12 text-center">
                        <div class=" text campo m-2">
                            <h3 class="p-3 m-1"><samp id="nombreUsuario"></samp></h3>
                        </div>
                    </div>


                <div class="capa1">
                    <div class="row m-0 p-0">
                    <div class="col-4 centrar">
                        <div class=" text campo m-3">
                            <div class="casa2 p-0 m-1 ">
                                <img src="../../assets/img/perfil/643c10b4-1948-4cfa-a433-29b173200632.jpg" alt="Imagen 1" class="celda-imagen" onclick="cambiarImagen(this)">
                            </div>
                        </div>
                    </div>

                    <div class="col-4 centrar">
                        <div class=" text campo m-3">
                            <div class="casa2 p-0 m-1 ">
                                <img src="../../assets/img/perfil/descarga (9).jpg" alt="Imagen 2" class="celda-imagen" onclick="cambiarImagen(this)">
                            </div>
                        </div>
                    </div>

                    <div class="col-4 centrar">
                        <div class=" text campo m-3">
                            <div class="casa2 p-0 m-1 ">
                                <img src="../../assets/img/perfil/A Chef Hamster, Cute Hamster, Hamster Lover.jpg" alt="Imagen 3" class="celda-imagen" onclick="cambiarImagen(this)">
                            </div>
                        </div>
                    </div>

                    <div class="col-4 centrar">
                        <div class=" text campo m-3">
                            <div class="casa2 p-0 m-1 ">
                                <img src="../../assets/img/perfil/descarga (8).jpg" alt="Imagen 4" class="celda-imagen" onclick="cambiarImagen(this)">
                            </div>
                        </div>
                    </div>

                    <div class="col-4 centrar">
                        <div class=" text campo m-3">
                            <div class="casa2 p-0 m-1 ">
                                <img src="../../assets/img/perfil/Free Vector _ Cute cow chef cooking steak meat cartoon vector icon illustration animal food icon isolated flat.jpg" alt="Imagen 5" class="celda-imagen" onclick="cambiarImagen(this)">
                            </div>
                        </div>
                    </div>

                    <div class="col-4 centrar">
                        <div class=" text campo m-3">
                            <div class="casa2 p-0 m-1 ">
                                <img src="../../assets/img/perfil/_Chibi Style Tiger Chef_ Sticker for Sale by ScroggMcGoose.jpg" alt="Imagen 6" class="celda-imagen" onclick="cambiarImagen(this)">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 centrar">
                <div class=" text campo1 m-2">
                    <h3 class="p-0 m-2">Guardar </h3>
                </div>
            </div>

            <script>
                function cambiarImagen(celda) {
                    // Cambia el src de la imagen principal al src de la celda seleccionada
                    document.getElementById('imagen-principal').src = celda.src;
                }
            </script>
            <script src="../../assets/js/opV.js"></script>
        </div>
    </div>
 
</body>
</html>
    