/* Estilos para la página de perfil */
body {
    background-image: url('../img/Designer\(2\).jpeg');
    background-size: cover;
    background-attachment: fixed;
  }
  
  .perfil-capa {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 15px;
    padding: 20px;
  }
  
  .perfil-avatar {
    width: 150px;
    height: 150px;
    border: 3px solid white;
  }
  
  .avatar-opcion {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .avatar-opcion:hover {
    transform: scale(1.1);
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  
  h1, h3 {
    color: white;
  }
  