body {
    background-image: url(../img/NuevosFondos1.jpeg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
}

.posicion {
    text-align: center;
}

.avatar img {
    width: 70px;
    height: 70px;
}
.home img {
    width: 70px;
    height: 70px;
}

.logo img {
    width: 100px;
    height: 100px;
}


p {
    color: aliceblue;
    font-family: Jockey One;
}

.total {
    width: 100%;
    height: auto;
}

.letra p {
    font-family: Jockey One;
    color: white;
    text-align: center;
    font-size: 28px;
}

button {
    background-color: rgba(181, 47, 215, 0.79) !important;
    font-family: Arial Black !important;
    border-color: rgba(181, 47, 215, 0.79) !important;
    width: 100px; 
    height: 100px;
}

.fixed-btn {
    margin: 10px; 
}

.candado {
    width: 20px;
    height: 25px;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.imagenCasa {
    margin-left: 6px;
    width: 60px;
    height: 60px;
}

.padre {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.capa {
    background-color: rgba(0, 0, 0, 0.767);
    height: auto; 
    width: 80%; 
    padding: 30px;
    border-radius: 6%;
}

@media (max-width: 1199px) {
    button {
        width: 80px; 
        height: 80px; 
    }
}

@media (max-width: 991px) {
    button {
        width: 70px; 
        height: 70px;
    }  
      .avatar img {
        width: 60px;
        height: 60px;
        margin-top: -200%;
        margin-left: -80%;
    }
    
    .logo img {
        width: 80px;
        height: 80px;
        margin-top: -150%;
        margin-left: 70%;
    }
    .home img {
        width: 50px;
        height: 50px;
    }
}


@media (max-width: 767px) {
    .avatar img {
        width: 40px;
        height: 40px;
        margin-left: -800%;
        margin-top: -50%;
    }
    
    .logo img {
        width: 60px;
        height: 60px;
        margin-left: 300%;
        margin-top: -450%;
    }

    button {
        width: 50px;
        height: 50px; 
    }
}

@media (max-width: 400px) {
    .candado {
        width: 15px; 
        height: 20px;
    }
}
@media (max-width: 500px) {

    .avatar img {
        width: 50px;
        height: 50px;
        margin-left: -520%;
        margin-top: -50%;
    }
    .letra p {
        font-size: 23px;
       padding: 8%;
    }
    .logo img {
        width: 70px;
        height: 70px;
        margin-left: 220%;
        margin-top: -480%;
    }

}


@media (max-width: 414px) {

    .avatar img {
        width: 40px;
        height: 40px;
        margin-left: -500%;
        margin-top: -50%;
    }
    
    .logo img {
        width: 60px;
        height: 60px;
        margin-left: 220%;
        margin-top: -550%;
    }
    .letra p {
        font-size: 23px;
       padding: 8%;
    }
.home img {
    width: 90px;
    height: 40px;
}


}
@media (max-width: 430px) {

    .avatar img {
        margin-left: -420%;
        margin-top: -30%;
    }
    
    .logo img {
        margin-left: 190%;
        margin-top: -440%;
    }

    .letra p {
        font-size: 20px;
       padding: 8%;
    }
    .home img {
        width: 900px;
        height: 30px;
    }
    

}
@media (max-width: 390px) {
    
    .logo img {
        margin-left: 200%;
        margin-top: -590%;
    }
    .letra p {
        font-size: 23px;
    }
    .home img {
        width: 120%;
        height: 30px;
    }

}
@media (max-width: 360px) { 
    .logo img {
        margin-left: 180%;
        margin-top: -620%;
    }
    .home img {
        width: 120%;
        height: 30px;
    }

}
@media (max-width: 375px) { 
    .home img {
        width: 70px !important;
        height: 30px;
    }
    
}

