body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.avatar img{
    margin-left: -15%;
    margin-top: 10%;
    width: 80px;
    height: 75px;
}
.logo img{
    margin-left: 55%;
    width: 120px;
    height: 120px;
}

.boton{
    background-color: #8a2be2 !important;
    border-color: #8a2be2 !important;
    color: #fff;
    text-align: center !important;
}
p{
  color: aliceblue;
  font-family: Jockey One;
}

.totalBotones{
    width: 1300px;
    height: 90px;
    justify-content: center;
    align-items: center;
}
.cambio{
    height: 201px;
}
.letra p{
   font-family: Jockey One;
   color: white;
   text-align: center;
   padding-top: 30px;
   font-size: 28px;
}

.padre{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.capa{
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgba(0, 0, 0, 0.767);
    height: 550px;
    width: 50vw;
    margin-top: 5px;
    /* margin-bottom: 17px; */
    padding-right: 6%;
    padding-left: 6%;
}

.cuadro2{
    margin: 2vw ;
    width: 8vw !important;
    height: 8vh;
    border: 1px solid #8a2be2;
    border-radius: 10px;
    background-color: #8a2be2  ;
    font-family:  arial black ;
    text-align: center;
}

h4{
    margin-top: 20px !important;
}

@media (max-width:995px){
    .capa{
        width: 100%;
    }
    .cuadro2{
        width: 40px;
        height: 60px;
        margin: 4%;
    }
}

@media (max-width:400px){
    .capa{
        width: 900px;
    }
    .cuadro2{
        width: 20px;
        height: 20px;
        margin: 3%;
        padding: 0;
        h4{
            font-size: 10px;
        }
    }

    .logo img{
        margin-left: 20%;
        width: 10px;
        height: 10px;
    }

    .centrar{
        margin-top: 22%;
    }

}

@media (max-width:1400px){
    .capa{
        width: 70%;
    }
    .cuadro2{
        width: 40px;
        height: 60px;
        margin: 3%;
    }
}

@media (max-width:767px){
    .capa{
        width: 70%;
    }
    .cuadro2{
        width: 40px;
        height: 60px;
        margin: 1%;
    }
}

.centrar{
    margin-top: 22%;
}

.boton{
    margin-left: 40%;
}


