body {
    background-image: url(../img/fondo.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
}

.avatar img {
    width: 50px;
    height: 50px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.letra p {
    font-family: Jockey One;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem; 
}

.padre {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.capa {
    background-color: rgba(0, 0, 0, 0.767);
    width: 90vw;
    max-width: 600px;
    padding: 1%;
    border-radius: 5%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.JuegoImagen1 img {
    width: 100%;
    height: auto;
    border-radius: 7%;
    margin-top: 15%;
    transition: transform 0.3s;
}

.JuegoImagen1 img:hover {
    transform: scale(1.05);
}

.text-center {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
.opcion1 {
    transition: all 0.3s ease; 
}

.seleccionada {
    border: 3px solid green; 
}
@media (max-width: 767px) {
    .avatar img, .logo img {
        width: 100%; 
        max-width: none;
    }
    .avatar img{
        margin-left: -500%;
    }
    .logo img{
    margin-left: 160%;
    margin-top: -440%;
    }

    .letra p {
        font-size: 2rem; 
    }

    .capa {
        width: 95vw;
    }

    .JuegoImagen1 img {
        width: 60%; 
    }
}
