<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juego</title>
    <link rel="stylesheet" href="../../../assets/css/estilos3.css" />
    <link rel="stylesheet" href="../../../../bootstrap/css/bootstrap.css" />
</head>

<body>
    <div class="container">
        <div class="padre">
            <div class="capa">


                <div class="row total mb-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-3 d-flex justify-content-center">
                                <div class="avatar posicion">
                                    <img src="../../../assets/img/LogoUsuario.png" alt="Logo Usuario"
                                        class="img-fluid" />
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="letra">
                                    <p>Observa la siguiente imagen</p>
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <div class="logo posicion">
                                    <img src="../../../assets/img/NuevoLogo.png" alt="Nuevo Logo" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row JuegoImagen mb-4">
                    <div class="col-12 text-center">
                        <img src="../../../assets/img/nivel2.jpg" alt="Imagen del juego" class="img-fluid" />
                    </div>
                </div>


                <div class="m-auto" id="containere">
                    <div id="loading-bar2" class="loading-bar2"></div>
                </div>

            </div>
        </div>
    </div>

    <script src="../../../../bootstrap/js/bootstrap.js"></script>
    <script src="../../../assets/js/juegoImagenNivelUno.js"></script>
    <script>
        simulateLoading2();
    </script>
</body>

</html>