<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modalidad Solo - JCI Memorize</title>
    <link href="../../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/css/modalidad.css">
 
</head>
<body>

    <div class="container solo-mode-container text-center">
        <div class="header-logo">
            <img src="../../../assets/img/COMIC__2_-removebg-preview (1).png" alt="Logo del Juego" class="game-logo">
            <img src="../../../assets/img/leon-removebg-preview.png" alt="" style="width: 75px;">
            <a href="../../home.html" class="back-home-btn">
                <img src="../../../assets/img/botones/casa.png" alt="Volver al Home" class="back-home-icon">
            </a>
        </div>

        <!-- Título de la sección -->
        <h2 class="mt-4">Modo Solo</h2>

        <!-- Opciones de juego con imágenes debajo -->
        <div class="solo-options">
            <button class="btn solo-btn" onclick="window.location.href='juegoInteractivo/niveles.html'">Interactua</button>
            <img src="../../../assets/img/comida-rapida.jpg" alt="Imagen Opción 1" class="option-img">

            <button class="btn solo-btn" onclick="window.location.href='./juegoVisualC/nivelesJuegoVisual/nivelUno.html'">Visualiza</button>
            <img src="../../../assets/img/comida.png" alt="Imagen Opción 2" class="option-img">
        </div>
    </div>

    <script src="../../../assets/bootstrap.bundle.min.js"></script>
</body>
</html>