<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión - Food Memorize</title>
  <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/log.css">
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="restaurant-card">
      <h1 class="card-title text-center">Carta de Ingreso</h1>
      <p class="text-center subtitle">¡Bienvenido a Food Memorize!</p>
      <form id="loginForm">
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="txtemail" name="txtemail" placeholder="ejemplo@correo.com">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="txtContra" name="txtContra" placeholder="Tu contraseña">
        </div>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-primary" onclick="iniciarSesion()">Iniciar Sesión</button>
        </div>
      </form>
      <div class="text-center mt-3">
        <a href="email/enviarCorreo.php ">¿Olvidaste tu contraseña?</a>
        <br>
        <a href="registro.html">¿Eres nuevo? Regístrate aquí</a>
      </div>
    </div>
  </div>
  
  <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../sweetalert2/sweetalert2.all.min.js"></script>
  <script src="../assets/js/operador.js"></script>
</body>
</html>

