<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/podio.css">
    <link rel="stylesheet" href="../../../assets/fontawesome/css/all.min.css"">
    <title>Clasificación del Restaurante de Cuy</title>
</head>
<body>
    <div class="contenedor-principal">
        <!-- Podio -->
        <div id="podio" class="podio-container">
            <div class="capa m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="titulo-container">
                        <h1>🏆 Podio de food memorize 🐹</h1>
                    </div>

                    <div class="podio">
                        <!-- Los puestos del podio se generan dinámicamente -->
                    </div>

                    <!-- Tabla de Clasificación -->
                    <div class="tabla-container">
                        <h1>🥇 Tabla de Clasificación</h1>
                        <table id="tabla-clasificacion" class="tabla-clasificacion">
                            <thead>
                                <tr>
                                    <th>🏅 Posición</th>
                                    <th>👤 Perfil</th>
                                    <th>🧑 Nombre</th>
                                    <th>⭐ Puntaje</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Las filas se generarán dinámicamente -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Botón para volver al menú -->
        <div class="boton-menu">
            <button onclick="location.href='../index.html'">Volver al Menú</button>
        </div>
    </div>
    <script src="../../../assets/js/script.js"></script>
</body>

</html>
