<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat en Burbuja</title>
    <link rel="stylesheet" href="chat.css">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div id="chatContainer" class="chat-container">
        <div id="chatBubble" class="chat-bubble d-flex justify-content-center align-items-center" onclick="toggleChat()">
            💬
        </div>
        <div id="chatBox" class="chat-box card shadow-lg">
            <div class="chat-header card-header text-white d-flex justify-content-between align-items-center">
                <span>Chat en Vivo</span>
                <button class="close text-white" onclick="toggleChat();">&times;</button>
            </div>
            <div id="chatMessages" class="chat-messages card-body"></div>
            <div class="chat-input d-flex p-2">
                <input type="text" id="mensaje" class="form-control mr-2" placeholder="Escribe un mensaje..." autocomplete="off">
                <button class="chat-btn" onclick="enviarMensaje()">Enviar</button>
            </div>
        </div>
        
    </div>
    
    
    

    <!-- Incluye el cliente de Socket.IO -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="./chat.js"></script>
</body>
</html>
