<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/estilosTuto.css">
    <link rel="stylesheet" href="../../../assets/fontawesome/css/all.min.css">
</head>

<body>
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content custom-modal">
                <div class="modal-header d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex align-items-center me-auto">
                        <img src="../../../assets/img/tutorial/icono (1).jpg" alt="Icono de ajustes" class="modal-icon">
                        <h5 class="modal-title mb-0" id="exampleModalToggleLabel">AJUSTES</h5>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>

                <div class="modal-body">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="d-flex align-items-center me-auto">
                            <img src="../../../assets/img/tutorial/plato6.png" alt="Icono de ajustes" class="modal-icon1">
                            <h5 class="modal-title mb-0" id="exampleModalToggleLabel">Como jugar</h5>
                        </div>
                        <button type="button" class="btn p-0" style="background: none; border: none;" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                            <i class="fa-solid fa-play"></i>
                        </button>
                    </div>
                </div>
                
                <div class="modal-body">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="d-flex align-items-center me-auto">
                            <img src="../../../assets/img/tutorial/sonido.png" alt="Icono de ajustes" class="modal-icon">
                            <h5 class="modal-title mb-0" id="exampleModalToggleLabel">Sonido</h5>
                        </div>
                        <button type="button" class="btn p-0" style="background: none; border: none;"  data-bs-target="#exampleModalToggle1" data-bs-toggle="modal">
                            <i class="fa-solid fa-play"></i>
                        </button>
                    </div>
                </div>
            

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content custom-modal">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Juego de visualizar</h5>
                    <button type="button" class="btn-close position-absolute end-0 me-2" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Se le va a mostrar una imagen con un tiempo determinado.</p>
                    <div class="imagen-centro">
                        <img src="../../../assets/img/tutorial/nivel(4).webp" alt="Descripción de la imagen" class="img-fluid">
                    </div>
                    <p>aparecerán tres imágenes, y tendrás que recordar cuál es la correcta.</p>
                    <div class="imagen-contenedor">
                        <div class="imagen">
                            <img src="../../../assets/img/tutorial/nivel(4).webp" alt="Descripción de la imagen" class="img">
                        </div>
                        <div class="imagen">
                            <img src="../../../assets/img/tutorial/nivel(4.1).png" alt="Descripción de la imagen" class="img">
                        </div>
                        <div class="imagen">
                            <img src="../../../assets/img/tutorial/nivel(4.2).png" alt="Descripción de la imagen" class="img">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Siguiente</button>
                </div>
                
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="exampleModalToggleLabe3">Juego de interactuar</h5>
                <button type="button" class="btn-close position-absolute end-0 me-2" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Se le va a mostrar una imagen con un tiempo determinado.</p>
                <div class="imagen-centro">
                    <img src="../../../assets/img/tutorial/nivel(4).webp" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <p>aparecerán tres imágenes, y tendrás que recordar cuál es la correcta.</p>
                <div class="imagen-contenedor">
                    <div class="imagen">
                        <img src="../../../assets/img/tutorial/nivel(4).webp" alt="Descripción de la imagen" class="img">
                    </div>
                    <div class="imagen">
                        <img src="../../../assets/img/tutorial/nivel(4).webp" alt="Descripción de la imagen" class="img">
                    </div>
                    <div class="imagen">
                        <img src="../../../assets/img/tutorial/nivel(4).webp" alt="Descripción de la imagen" class="img">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Siguiente</button>
            </div>
            
        </div>
    </div>
</div>

    <div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel1"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel1">Modal 2</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hide this modal and show the first with the button below.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Back to first</button>
                </div>
            </div>
        </div>
    </div>

    <a data-bs-toggle="modal" href="#exampleModalToggle" role="button">
        <div class="modal1">
            <img src="../../../assets/img/tutorial/boton_de_ajuste-removebg-preview.png" alt="Abrirmodal">
        </div>
    </a>



    <script src="../../../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>


