<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../../assets/css/estilosNiveles.css" />
  <link rel="stylesheet" href="../../../../bootstrap/css/bootstrap.css" />
  <script src="../../../../bootstrap/js/bootstrap.js"></script>
</head>

<body>
  <div class="container">
    <div class="padre">
      <div class="capa">
        <!-- Encabezado -->
        <div class="row text-center mb-4 total">
          <div class="col-12 col-md-3 d-flex justify-content-center align-items-center">
            <div class="avatar">
              <img src="../../../assets/img/LogoUsuario.png" alt="Logo Usuario" class="img-fluid" />
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="letra">
              <p>Selecciona la opción que creas correcta</p>
            </div>
          </div>
          <div class="col-12 col-md-3 d-flex justify-content-center align-items-center">
            <div class="logo">
              <img src="../../../assets/img/NuevoLogo.png" alt="Nuevo Logo" class="img-fluid" />
            </div>
          </div>
        </div>

        <!-- Botones de Nivel -->
        <div class="row mb-4">
          <div class="col-12 contenedor-botones">
            <a href="../../../view/JuegoVisualC/ImagenSeguirJuegoVisual/JuegoImagenUno.html">
              <button type="button" class="btn btn-primary fixed-btn">1</button>
            </a>
            <a href="../../../view/JuegoVisualC/ImagenSeguirJuegoVisual/JuegoImagenDos.html">
              <button type="button" class="btn btn-primary fixed-btn">2</button>
            </a>
            <a href="../../../view/JuegoVisualC/ImagenSeguirJuegoVisual/JuegoImagenTres.html">
              <button type="button" class="btn btn-primary fixed-btn">3</button>
            </a>
            <a href="../../../view/JuegoVisualC/ImagenSeguirJuegoVisual/JuegoImagenCuatro.html">
              <button type="button" class="btn btn-primary fixed-btn">4</button>
            </a>
            <a href="../../../view/JuegoVisualC/ImagenSeguirJuegoVisual/JuegoImagenCinco.html">
              <button type="button" class="btn btn-primary fixed-btn">5</button>
            </a>
          </div>
        </div>

        <!-- Segunda Fila de Botones de Nivel -->
        <div class="row mb-4">
          <div class="col-12 contenedor-botones">
            <button type="button" class="btn btn-primary fixed-btn DesplazarButtonSeis">
              <img src="../../../assets/img/candado.png" class="candado img-fluid " alt="">
            </button>
            <button type="button" class="btn btn-primary fixed-btn DesplazarButtonSiete">
              <img src="../../../assets/img/candado.png" class="candado img-fluid" alt="">
            </button>
            <button type="button" class="btn btn-primary fixed-btn DesplazarButtonOcho">
              <img src="../../../assets/img/candado.png" class="candado img-fluid" alt="">
            </button>
            <button type="button" class="btn btn-primary fixed-btn DesplazarButtonNueve">
              <img src="../../../assets/img/candado.png" class="candado img-fluid" alt="">
            </button>
            <button type="button" class="btn btn-primary fixed-btn DesplazarButtonDies">
              <img src="../../../assets/img/candado.png" class="candado img-fluid " alt="">
            </button>
          </div>
        </div>

        <!-- Botón de regreso a inicio -->
        <div class="row">
          <div class="col-2 offset-10 d-flex justify-content-center home ">
            <a href="home.php">
              <img src="../../../assets/img/casa.png" alt="Home" class="imagenCasa img-fluid fixed-img ">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>